<%= form_with model: @producto do |form|%>
   <%# mostrando errores a los usuarios en caso no se guarde un producto %>
   <% @producto.errors.full_messages.each do |error| %>
      <div>
         <%= error %> 
      </div> 
   <% end %>
   <div class="form-group">
      <%=form.label :title,class: 'font-bold mb-4'%>
      <%=form.text_field :titulo,class: 'rounded-2xl border-gray-600 mb-4 w-full' %>
   </div>
   <div class="form-group">
      <%=form.label :description,class: 'font-bold mb-4' %>
      <%=form.text_area :descripcion,class: 'rounded-2xl border-gray-600 mb-4 w-full',rows: 5 %>
   </div>
   <div class="form-group">
      <%=form.label :price,class: 'font-bold mb-4' %>
      <%=form.number_field :precio,class: 'rounded-2xl border-gray-600 mb-4 w-full' %>
   </div>
   <div>
      <%= form.label :category_id,class: 'font-bold mb-4' %>
      <div>
         <%= form.collection_select :category_id, Category.all.order(name: :asc), :id,:name,{ class: "rounded-2xl border-gray-200 mb-4 w-full text-gray-500"} %>
      </div>
   </div>
   <br>
   <div class="rounded-2xl border border-gray-500 mb-4 w-full p-4 text-gray-700 flex flex-col gap-2">
      <%= form.label :photo, class: "font-semibold text-sm text-gray-600" %>
      <%= form.file_field :photo, class: "file:mr-4 file:py-2 file:px-4 file:rounded-lg file:border-0 file:text-sm file:font-semibold file:bg-blue-50 file:text-blue-700 hover:file:bg-blue-100 cursor-pointer text-gray-700 w-full" %>
   </div>

   <div class="flex items-center justify-center">
      <button class="bg-blue-500 hover:bg-blue-700 px-4 py-2 font-semibold text-sm bg-cyan-500 text-white rounded-2xl cursor-pointer shadow-sm">
         <%=form.submit%>
      </button>
   </div>

<% end %>
