<%= turbo_frame_tag 'categories' do %>
   <div class="title">
     <h1 style="text-align: center;"><%= t('.title') %></h1>
   </div>
   <br>
   <div class="count">
     <h2>Numero de productos:</h2>
     <div class="counter-products">
       <span><%= @productos.count %></span>
     </div>
   </div>
   <br>
   <div style="text-align: center; margin: auto;">
     <%= form_with url: productos_path,method: :get do |form| %>
       <%= form.text_field :query_text, placeholder: t('.query_text'),
                              onChange: 'this.form.requestSubmit()', value: params[:query_text] %>
       <%= form.number_field :min_price, placeholder: t('.min_price'),
                              onChange: 'this.form.requestSubmit()', value: params[:min_price] %>
       <%= form.number_field :max_price, placeholder: t('.max_price'),
                              onChange: 'this.form.requestSubmit()', value: params[:max_price] %>
       <%= form.select :order_by, options_for_select(Producto::ORDER_BY.keys.map { |order| [t(".#{order}"),order] },params[:order_by]),{},
                              { onChange: 'this.form.requestSubmit()' } %>
     <% end %>
   </div>
   <div>
     <%= link_to t('.all'), productos_path %>
   </div>
 
   <div>
     <%= render partial: 'category', collection: @categories %>
   </div>
 
   <div class="producto-container">
     <%= render partial: 'producto', collection: @productos %>
   </div>
 <% end %>
 