<div class="image">
   <%= image_tag @producto.photo, width:500 if @producto.photo.attached? %>
</div>
<h1 class='titulo'><%= @producto.titulo %></h1>
<div class="info">
   <p><%= @producto.descripcion %></p>
   <span><%= @producto.precio %>$</span>
</div>
<br>
<div class="actions">
<button type="button" class="btn btn-link">
<%= link_to 'Editar Producto', edit_producto_path(@producto) if @producto.user == Current.user %>
</button>
<button type="button" class="btn btn-link">
<%= link_to 'Eliminar Producto', producto_path(@producto), data:{
   turbo_method: "delete",
   turbo_confirm: t('common.confirn')
} if @producto.user == Current.user%>
</button>
</div>

<style>
.titulo{
   text-align: center;
}
.info{
   text-align: center; 
   box-sizing: border-box;
}
.actions{
   text-align: center;
}
.image{
   margin: auto;
   text-align: center;
}
</style>
