<h1 class='titulo'><%= @producto.titulo %></h1>
<p class='descripcion'><%= @producto.descripcion %></p>
<span class='precio'><%= @producto.precio %>$</span>
<%= link_to 'Editar Producto', edit_producto_path(@producto) %>
<%# <%= link_to 'Eliminar Producto', producto_path(@producto), method: :delete, data: { confirm: '¿Estás seguro?' } %1> %>
<%= link_to 'Eliminar Producto', producto_path(@producto), data:{
   turbo_method: "delete",
   turbo_confirm: "¿Estás seguro?"
} %>
