<%= form_with(model: category) do |form| %>
  <% @category.errors.full_messages.each do |error| %>
    <div class="text-red-500">
      <%= error %>
    </div>
  <% end %>

  <div class="mb-4">
    <%= form.label :name, class: "block text-gray-700 font-medium" %>
    <%= form.text_field :name, class: "mt-1 p-2 border border-gray-300 rounded w-full" %>
  </div>

  <div class="mb-4">
    <%= form.label :description, class: "block text-gray-700 font-medium" %>
    <%= form.text_field :description, class: "mt-1 p-2 border border-gray-300 rounded w-full" %>
  </div>

  <div class="flex justify-center">
    <%= form.submit "Crear Categoria", class: "bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600" %>
  </div>
<% end %>
